{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    <title>Курсы</title>
{% endblock %}

{% block content %}
<section id="hero" class="d-flex justify-content-center">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="row">
                    <div class="col-5">
                        <h5>Счетчик верных слов</h5>
                        <h1 id="correct-words">0</h1>
                    </div>
                    <div class="col-2">
                        <div class="control play">
                            <button type="button" class="btn btn-success" onclick="showModal(' {{ card|safe }} ');">Начать</button>
                        </div>
                    </div>
                    <div class="col-5">
                        <h5>Счетчик неверных слов</h5>
                        <h1 id="incorrect-words">0</h1>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <script src="{% static 'main/js/main.js' %}"></script>
{% endblock %}