{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    <title>Главная</title>
{% endblock %}

{% block login %}
    <script src="{% static 'main/js/login_form.js' %}"></script>
    <ul class="navbar-nav d-flex">
    {% if is_login == True %}
        <!-- Если залогинен-->
        <li class="nav-item dropdown">
            <a href="{% url 'user_page_main' %}" class="nav-link dropdown-toggle" id="navDrop" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Личный кабинет</a>
            <ul class="dropdown-menu" aria-labelledby="navDrop">
                <li><div class="dropdown-item">Здравствуйте, {{ username }}</div></li>
                <li><a class="dropdown-item">Выход</a></li>
            </ul>
        </li>
        <!-- Если не залогинен-->
        {% else %}
            <div class="btn-group">
                <button type="button" class="btn btn-light" data-bs-toggle="modal"
                        data-bs-target="#LoginModal" onclick="showLogin()">Log In
                </button>
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#SignUpModal">Sign Up
                </button>
            </div>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h1>GZPenglisH</h1>
                    <h2>Inglish do you speak it?!</h2><br>
                    {% if is_login == True %}
                        <a class="btn btn-success" href="{% url 'courses_main' %}" role="button">Вперед за знаниями!</a>
                    {% else %}
                        <a class="btn btn-success" role="button" onclick="showAskLogin()"
                           data-bs-target="#AskLoginModal">Вперед за знаниями!</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <div id="AskLoginModal">
        <div class="modal fade">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form id="close-form">
                        <div class="modal-body">
                            <h5 class="modal-title">Сначала нужно зарегестрироваться или войти в аккаунт!</h5>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <input type="submit" class="btn btn-success modal-success-btn" data-bs-toggle="modal"
                                   data-bs-target="#LoginModal" onclick="showLogin()" value="Войти">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Vertically centered modal -->
    <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Авторизация</h5>
                    <button type="button" id="CloseLogin" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <form class="form-horizontal" id="login-form">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Логин</label>
                                <div class="col-sm-10">
                                    <input type="text" id="login_login" class="form-control" placeholder="Логин"
                                           name="login_login">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Пароль</label>
                                <div class="col-sm-10">
                                    <input type="password" id="password_login" class="form-control" placeholder="Пароль"
                                           name="password_login">
                                </div>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <input type="submit" class="btn btn-success" id="Login-button" name="login-button"
                                       value="Log In" data-bs-dismiss="modal">
                            </div>
                        </form>
                    </div>
                    <div class="result" id="errorMessage_login"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="SignUpModal" tabindex="-1" aria-labelledby="SignUpModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <form class="form-horizontal" role="form" method="POST">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ваше Имя</label>
                                <div class="col-sm-10">
                                    <input type="text" id="name" class="form-control" placeholder="Имя" name="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Логин</label>
                                <div class="col-sm-10">
                                    <input type="text" id="login" class="form-control" placeholder="Логин" name="login">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Пароль</label>
                                <div class="col-sm-10">
                                    <input type="password" id="password" class="form-control" placeholder="Пароль"
                                           name="password">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="result" id="result">В случае ошибки</div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-success" id="SignUp-button">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}