{% extends 'main/layout.html' %}
{% load static %}

{% block content %}

    <!-- Background object -->
    <script src="{% static 'main/js/LevelCheckModal.js' %}"></script>

    <section id="hero" class="d-flex justify-content-center">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="row">
                    <div class="col-2">
                        <div class="control play">
                            <button type="button" class="btn btn-success" data-bs-target="OutCardModal"
                                    onclick="showCard()"
                            >Начать тестирование
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="OutCardModal">
        <div class="modal fade" id="CardModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-light">
                        <h5 class="modal-title" id="title-card-h5">Давай определим твой уровень</h5> <br>
                        <h6 class="modal-title" id="title-card-h6">{{ level }}</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="input-form">
                        <div class="modal-body">
                            <p id="question-field">{{ card }}</p>
                            <input id="answer-field" name="text" type="text" size="50">
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закончить!</button>
                            <input type="submit" class="btn btn-success modal-success-btn" id="btn-answer"
                                   value="Ответить!">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}